/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

.custom-block.tip
  background-color: #e1eef8;
  border-color: #168ff0;


table
  width:100%;
  display: table;


.box
  padding: 1rem 1.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
